$main-color: #52356c;
$light-color: mix(#fff, $main-color, 80%);
$border-color: mix(#000, $main-color, 30%);
$cell-bg: mix(#fff, $main-color, 80%);
$board-dimension: 300px;
$color-o: #0580d8;
$color-x: #d80560;
